/* Mobile-first design */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: $white;
  }
  
  @media (min-width: 768px) {
    .navbar ul {
      display: flex;
      gap: 2rem;
    }
  }