
// Color Scheme
$primary-blue: #23477E;
$secondary-blue: #162941;
$primary-red: #ED1E24;
$bg-white: #E6E5E3;
$border-blue: #75879f;
$black: #4E4E4E;
$white: #FAFAFA;

// Fonts
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Roboto', sans-serif;