@import '../../styles/variables.scss';

.logo  {
  width: 100%;
  background-image: url('../../assets/BeReady-logo.png');
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.banner {
  width: 100%;
  background-image: url('../../assets/Websitebanner.jpg');
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: $primary-blue;
  padding: 0.48em;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);

  .navbar-menu {
    display: flex;
    gap: 1rem;

    li {
      list-style: none;
      font-size: 22px;

      a {
        padding: 1.5rem;
        color: white;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: $primary-red;
        }
      }

      &.active a {
        background-color: $primary-red;
      }
    }
  }

  .navbar-hamburger {
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }
  }
}