@import '../../styles/variables.scss';

.blog-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 2rem;
    transition: transform 0.2s;
    max-width: 1000px;
    margin: 2em auto;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  
    .blog-image {
      width: 100%;
      height: auto;
    }
  
    .blog-content {
      padding: 1rem;
  
      .blog-title {
        font-size: 1.5rem;
        color: $primary-blue; /* Navy blue */
        margin: 0;
      }
  
      .blog-excerpt {
        color: #555;
        margin: 0.5rem 0 1rem;
      }
  
      .read-more {
        color: $primary-red; /* Red */
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
  
        &:hover {
          color: $primary-blue; /* Navy blue on hover */
        }
      }
    }
  }